$sidebar-color: #dd006e;
$light-pink: lighten($sidebar-color, 50%);
$dark-pink: darken($sidebar-color, 20%);
$white: #FFFFFF;
$text-color: #23282d;
$background-grey: #E8E8E8;
$background-light: #f8f9fa;

$border-radius: 5px;

.App {
  text-align: left;
  color: $text-color;
  height: 100vh;

  &_sidebar {
    background-color: $sidebar-color;
    color: $white;

    &_tab {
      line-height: 45px;
      border-radius: $border-radius;

      &:hover {
        background-color: $dark-pink;
      }
    }

    .active {
      background-color: $dark-pink;
    }
  }

  &_main-page {
    background-color: $background-grey;
  }

  &_table {
    color: $text-color;
    background-color: $white;
    max-width: 1200px;
    border-radius: $border-radius;

    &_head-item {
      cursor: pointer;
    }

    &_shipment {
      img {
        height: 20px;
        width: 20px;
        margin: 2px;
        padding: 2px;
      }

      &_status {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -3px;
      }
    }

    &_sort{
      &_img {
        height: 12px;
        width: 15px;
        vertical-align: initial;
      }
    }
  }

  &_navigation {
    max-width: 1200px;

    &_nav {
      margin-left: 75px;
    }

    &_input {
      max-width: 200px;
    }

    &_label {
      background-color: $sidebar-color;
      color: $white;
    }
  }

  &_active-filter {
    color: $sidebar-color;
  }

  &_shipment-details {
    border-radius: $border-radius;

    &_key {
      width: 20%;
      font-weight: bold;
    }

    &_value {
      width: 80%;

      img {
        height: 20px;
        width: 20px;
        margin: 2px;
        padding: 2px;
      }
    }

    &_form {
      input {
        min-width: 300px; //add responsive styles
      }
    }
  }
}

//Pagination, overwrite of bootstrap rules
.page-item {
  cursor: pointer;

  .text-secondary {
    color: $text-color !important;
  }

  .page-link:hover {
    background-color: $light-pink !important;
  }
}

.page-item.active .page-link {
  background-color: $dark-pink;
  cursor: pointer;
  color: white !important;
  border: 1px solid transparent;

  .page-link:hover {
    background-color: $light-pink !important;
  }
}

//custom classes
.tool {
  height: 30px;
  width: 30px;
}

.pencil,
.basket {
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $light-pink;
  }
}

.btn-customized {
  background-color: $background-light;
  border: 1px solid $sidebar-color;
  color: $sidebar-color;
  border-radius: $border-radius;

  &:hover {
    background-color: $dark-pink;
    border: 1px solid $dark-pink;
    color: $background-light;
  }
}
