.App {
  text-align: center;
  max-width: 1200px;
  margin: 20px auto;

  &_table {
    border: 1px solid grey;
  }

  &_navigation {
    max-width: 200px;
  }

  &_active-filter {
    background-color: #000;
    color: #FFF;
  }

  &_table_shipment {
    &:hover {
      border: 2px solid grey;
    }
  }

  &_shipment-details {
    width: 500px;

    &_key {
      width: 100px;
      font-weight: bold;
    }

    &_value {
      width: 400px;
    }
  }

  &_form-for-detail-change {
    right: 20px;
    position: absolute;
    top: 250px;
  }
}

.page-item.active .page-link {
  background-color: #000;
  border-color: #000;

  &:hover {
    color: lightgrey;
  }
}

%triangle-preset {
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
}

.desc {
  @extend %triangle-preset;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #ffffff transparent;
}

.asc {
  @extend %triangle-preset;
  border-width: 8px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
}
